FLASK_ENV=development

SECRET_KEY=dev-secret-key-change-in-production

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

DB_USER=intelligent_audio_test
DB_PASSWORD=intelligent_audio_test666
DB_HOST=localhost
DB_PORT=5432
DB_NAME=intelligent_audio_test

DATABASE_URI=


FFMPEG_PATH=E:\02_code_build_envirenment\ffmpeg-master-latest-win64-gpl\bin\ffmpeg.exe
FFPROBE_PATH=E:\02_code_build_envirenment\ffmpeg-master-latest-win64-gpl\bin\ffprobe.exe

LOG_LEVEL=INFO
CONSOLE_LOG_ENABLED=true

STATIC_BASE_PATH=static
ARCHIVE_PATH=archives
AUDIO_STORAGE_PATH=static/audios
UPLOAD_TEMP_PATH=temp_uploads
RESAMPLE_TEMP_PATH=static/audios/temp_resample

API_MAX_WAIT_TIME=43200
API_POLL_INTERVAL=30

EXECUTION_ENGINE_SCHEDULER_INTERVAL=3
EXECUTION_ENGINE_TEST_CASE_WAIT_TIME=300
EXECUTION_ENGINE_MAX_QUEUE_SIZE=100

API_EXECUTOR_MAX_QUEUE_SIZE=10
API_EXECUTOR_MAX_WAIT_TIME=3000

EVALUATION_SERVICE_MAX_QUEUE_SIZE=10
EVALUATION_SERVICE_MAX_WAIT_TIME=300